.titulo1{
    background-color: darkslategrey;
    color:white;   
    display:flex;    /*lo hace Responsive*/
    justify-content: center;    /*Centra el Texto*/
    font: oblique bold 180% cursive; /*Tipo de Letra*/
    font-family: 'Satisfy', cursive;
}

.titulo2{
    font-family: 'Passion One';
    font-size: 2rem;
        
}

.table{
    border-collapse: collapse;
}

.table td{
    border: 1px solid;
    text-align:center;
}

.table th:hover {
     color:blue;
     background-color:red;

}

.table tr{
    
    color:black;
    background-color:lightgrey;
    font-family:'Courier New', Courier, monospace, cursive;
    font-size: 25px;
    font-weight: bold;

}

.table td:hover{
    color:black;
    background-color:greenyellow;
}


